extends ./layout/index 

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consequat arcu a tortor sollicitudin, in volutpat enim tincidunt. Nullam malesuada nibh ac velit rutrum hendrerit. Nam bibendum scelerisque leo, ac tempus sem suscipit quis. Fusce placerat, nibh eget semper dapibus, sapien enim hendrerit ligula, in tristique neque quam vel risus. Nulla quis lectus vitae ante sollicitudin tincidunt vitae ut turpis. Fusce quis sem laoreet, euismod sapien ut, vestibulum nunc. Ut pulvinar posuere leo at lobortis. Fusce malesuada ipsum sed arcu condimentum, eget tristique ante elementum. Sed 

                p rhoncus tortor nec odio aliquam vehicula. Curabitur tincidunt porta orci, nec laoreet turpis venenatis eu. Fusce egestas augue sem, ac rhoncus magna convallis non. Curabitur tincidunt, nibh id congue semper, leo est efficitur arcu, et dignissim nunc nibh mattis nisi. Nunc sit amet dui at metus varius consectetur id ut nisl. Sed nisl nibh, ultrices at ipsum a, venenatis molestie neque. Donec risus odio, posuere ut sapien ut, sagittis auctor sem. Duis odio augue, bibendum a pharetra vel, 

                p pellentesque ultrices fringilla. Morbi lectus lectus, posuere a turpis ac, interdum gravida sapien. In dignissim sem aliquam, efficitur ante sed, hendrerit dui. Duis congue sem eget diam tempus euismod. Mauris pulvinar justo id ante iaculis, id sollicitudin ex hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis sapien magna. Proin elementum risus non nisl facilisis, sed mollis odio dignissim. Nunc blandit sodales sapien, nec posuere purus ultricies

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p pellentesque ultrices fringilla. Morbi lectus lectus, posuere a turpis ac, interdum gravida sapien. In dignissim sem aliquam

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p pellentesque ultrices fringilla. Morbi lectus lectus, posuere a turpis ac, interdum gravida sapien. In dignissim sem aliquam

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p pellentesque ultrices fringilla. Morbi lectus lectus, posuere a turpis ac, interdum gravida sapien. In dignissim sem aliquam